page-observation-modal {
    ion-card.cards-list ion-card-header {
        color: map-get($colors, dark);
        font-weight: bold;
    }

    .no-validation-line .item-inner {
        box-shadow: none !important;
    }
    
    // If you are Using Ng-Model then It will show you the green line that indicates the 
    // Binding of data from input. You can get rid of it through Css.
    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: transparent;
        box-shadow: inset 0 -1px 0 0 #dedede;
    } 
}
